.skip-to-main {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  
  &:focus {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

.main-content--auth {
  // Auth pages don't need the main content wrapper padding
  padding: 0;
}
